<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <% @weather_grids.each do |weather_grid| %>
      <div class="row">
        <div class="col-md-8">
          <p class="lead">
            <%= weather_grid.name %>
          </p>    
        </div>
        <div class="col-md-4">
          <%= link_to 'Show Me Forecast', weather_grid, class: "btn btn-success" %>
          <% if can? :update, weather_grid %>
            <%= link_to 'Edit', edit_weather_grid_path(weather_grid), class: "btn btn-warning" %>
          <% end %>
          <% if can? :delete, weather_grid %>
            <%= link_to 'Destroy', weather_grid, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div><!-- end row -->
    <% end %>
  </div>
</div>