<div class="container">
    <div clas="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
              <h1><%= image_tag 'discover-vancouver.png', class: "img-responsive" %></h1>
              <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <p><a class="btn btn-primary btn-lg">Get Started</a></p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h3><i class="fa fa-car"></i> Lorem Ipsum</h3>
            <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </div>
        <div class="col-md-4">
            <h3><i class="fa fa-shopping-bag"></i> Lorem Ipsum</h3>
            <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </div>
        <div class="col-md-4">
            <h3><i class="fa fa-cutlery"></i> Lorem Ipsum</h3>
            <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </div>
    </div>
</div>