<div class="container" style="margin-bottom: 120px;">
    <div clas="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <div class="row" style="margin-bottom: 17px;">
                    <div class="col-md-6 col-md-offset-3">
                      Are you a merchant?
                    </div>
                </div><!-- end row -->
              
              <p>Do you want to get listed in our app? Do you want exposure to thousands of people?</p>
              <p><a class="btn btn-primary btn-lg">Get Started</a></p>
            </div>
        </div>
    </div><!-- end row-->
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div><!-- end row -->
    
    <div class="row text-center">
        <div class="col-md-12">
            <h2>Everything you need at one place!</h2>
            <p>some screenshots here (nice Mac screen with images)</p>
            <p>some screenshots here (nice iPhone screen with images)</p>
            <p>Mobile Apps links</p>
        </div>
    </div><!-- end row -->
    
    <div class="row">
        <div class="col-md-6">
            <%= link_to 'Pricing for restaurants', pages_pricing_restaurants_path %>
            <%= link_to 'Pricing for accommodation businesses', pages_pricing_accommodations_path %>
        </div>
    </div>
    
</div>