 <!-- PRICING TABLE STYLE 1-->
        <div class="container" style="margin-top: 70px">
            
            <div clas="row">
                <div class="col-md-12">
                    <div class="jumbotron text-center">
                      <p>Simple pricing. Everything you need. {{ Add below screenshots for each plan, what they get in the app: screenshots of basic listing, full business profile, etc. }}</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                
                <ul class="nav nav-tabs text-center" role="tablist" id="myTabs">
                    <li role="presentation" class="active"><a href="#monthly" aria-controls="monthly" role="tab" data-toggle="tab">Monthly</a></li>
                    <li role="presentation"><a href="#yearly" aria-controls="yearly" role="tab" data-toggle="tab">Yearly</a></li>
                </ul>
                
            <div class="tab-content">
                
            <div role="tabpanel" class="tab-pane fade in active" id="monthly">
                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                    <div class="price_table_container">
                        <div class="price_table_heading">Starter</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost warning-bg"><strong>FREE</strong></div>
                            <div class="price_table_row"><small>No Setup Fee</small></div>
                            <div class="price_table_row">Basic Business Page</div>
                            <div class="price_table_row">.</div>
                            <div class="price_table_row">.</div>
                            <div class="price_table_row">.</div>
                            <div class="price_table_row">.</div>

                        </div>
                        <a href="#" class="btn btn-warning btn-lg btn-block">Sign Up</a>
                    </div>
                </div>
        
                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
                    <div class="price_table_container">
                        <div class="price_table_heading">Basic</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost primary-bg"><strong>$ 29</strong><span>/MONTH</span></div>
                            <div class="price_table_row"><small>+$49 Setup Fee</small></div>
                            <div class="price_table_row">Full Business Page</div>
                            <div class="price_table_row">Social Media Links</div>
                            <div class="price_table_row">.</div>
                            <div class="price_table_row">.</div>
                            <div class="price_table_row">.</div>
                        </div>
                        <a href="#" class="btn btn-primary btn-lg btn-block">Sign Up</a>
                    </div>
                </div>
        
                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                    <div class="price_table_container">
                        <div class="price_table_heading">Premium</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost success-bg"><strong>$ 69</strong><span>/MONTH</span></div>
                            <div class="price_table_row"><small>+$99 Setup Fee</small></div>
                            <div class="price_table_row">Full Business Page</div>
                            <div class="price_table_row">Social Media Links</div>
                            <div class="price_table_row">Online Ordering <small>(cash only)</small></div>
                            <div class="price_table_row">1 Promo or a Coupon Deal</div>
                            <div class="price_table_row">.</div>
                        </div>
                        <a href="#" class="btn btn-success btn-lg btn-block">Sign Up</a>
                    </div>
                </div>
        
                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">  
                <div class="recommended"><strong><span class="fa fa-heart" aria-hidden="true"></span> RECOMMENDED</strong></div>                              
                    <div class="price_table_container">
                        <div class="price_table_heading">Master</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost info-bg"><strong>$ 149</strong><span>/MONTH</span></div>
                            <div class="price_table_row"><small>+$199 Setup Fee</small></div>
                            <div class="price_table_row">Full Business Page</div>
                            <div class="price_table_row">Social Media Links</div>
                            <div class="price_table_row">Online Ordering <small>(cash &amp; credit cards)</small></div>
                            <div class="price_table_row">Unlimited Promo &amp; Coupon Deal</div>
                            <div class="price_table_row">Delivery Service</div>                                                
                        </div>
                        <a href="#" class="btn btn-info btn-lg btn-block">Sign Up</a>
                    </div>
                </div>
                </div><!-- tabpanel monthly end -->
                
                
                <div role="tabpanel" class="tab-pane fade in active" id="yearly">
                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                    <div class="price_table_container">
                        <div class="price_table_heading">Starter</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost warning-bg"><strong>FREE</strong></div>
                            <div class="price_table_row"><small>No Setup Fee</small></div>
                            <div class="price_table_row">Basic Business Page</div>
                            <div class="price_table_row">.</div>
                            <div class="price_table_row">.</div>
                            <div class="price_table_row">.</div>
                            <div class="price_table_row">.</div>

                        </div>
                        <a href="#" class="btn btn-warning btn-lg btn-block">Sign Up</a>
                    </div>
                </div>
        
                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
                    <div class="price_table_container">
                        <div class="price_table_heading">Basic</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost primary-bg"><strong>$ 240</strong><span>/YEAR</span></div>
                            <div class="price_table_row"><small>+$49 Setup Fee</small></div>
                            <div class="price_table_row">Full Business Page</div>
                            <div class="price_table_row">Social Media Links</div>
                            <div class="price_table_row">.</div>
                            <div class="price_table_row">.</div>
                            <div class="price_table_row">.</div>
                        </div>
                        <a href="#" class="btn btn-primary btn-lg btn-block">Sign Up</a>
                    </div>
                </div>
        
                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                    <div class="price_table_container">
                        <div class="price_table_heading">Premium</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost success-bg"><strong>$ 600</strong><span>/YEAR</span></div>
                            <div class="price_table_row"><small>+$99 Setup Fee</small></div>
                            <div class="price_table_row">Full Business Page</div>
                            <div class="price_table_row">Social Media Links</div>
                            <div class="price_table_row">Online Ordering <small>(cash only)</small></div>
                            <div class="price_table_row">1 Promo or a Coupon Deal</div>
                            <div class="price_table_row">.</div>
                        </div>
                        <a href="#" class="btn btn-success btn-lg btn-block">Sign Up</a>
                    </div>
                </div>
        
                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">  
                <div class="recommended"><strong><span class="fa fa-heart" aria-hidden="true"></span> RECOMMENDED</strong></div>                              
                    <div class="price_table_container">
                        <div class="price_table_heading">Master</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost info-bg"><strong>$ 1,500</strong><span>/YEAR</span></div>
                            <div class="price_table_row"><small>+$199 Setup Fee</small></div>
                            <div class="price_table_row">Full Business Page</div>
                            <div class="price_table_row">Social Media Links</div>
                            <div class="price_table_row">Online Ordering <small>(cash &amp; credit cards)</small></div>
                            <div class="price_table_row">Unlimited Promo &amp; Coupon Deal</div>
                            <div class="price_table_row">Delivery Service</div>                                                
                        </div>
                        <a href="#" class="btn btn-info btn-lg btn-block">Sign Up</a>
                    </div>
                </div>
                </div><!-- tabpanel yearly end -->
                
                
                
                </div><!-- end tab-content -->
            </div>
        
        <hr>
        
        
        <div class="row" style="margin-top: 70px;">
            <div class="col-md-6">
                <small>Optional</small>
                <h3>Wireless Data Connection</h3>
                <p>No Wi-Fi? Lease an LTE-enabled Discover Vancouver Tablet.</p>
                <h4>$20/mo</h4>
            </div>
            <div class="col-md-6">
                <small>Optional</small>
                <h3>Wireless Receipt Printer</h3>
                <p>Need a printer? Lease our printer!</p>
                <h4>$24/mo</h4>
            </div>
        </div>
        
        <hr>
        
        
        <div class="row" style="margin-top: 70px;">
            <div class="col-md-12 text-center">
                <h2>Delivery Service</h2>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>Customers order through our system</p>
            </div>
            <div class="col-md-4">
                <p>You get order notification and start cooking food</p>
            </div>
            <div class="col-md-4">
                <p>Our driver pick it up and drop it off</p>
            </div>
            
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12 text-center">
                    <p>Pricing</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <p>1km = $6</p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        
                      </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <p>1.5km = $7.5</p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <p>2km = $9</p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <p>2.5km = $10.50</p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <p>+1km = $2</p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                </div>
            </div>
            
        </div><!-- end row -->
        
     
        
        </div><!-- end container -->
        