
<!-- footer -->
<footer role="contentinfo" class="site-footer" id="colophon" style="margin-top: 120px;">
  <div class="container">
    <div class="row">
      <div id="accordion" class="collapse-footer">
        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title"> <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="collapsed"> <span class="fa fa-arrow-down"></span> </a> </h4>
          </div>
          <div class="panel-collapse collapse" id="collapseOne" style="height: 0px;">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-6">
                  <h5 class="title"><span>Main Navigation</span></h5>
                  <div class="menu-main-menu-container">
                    <ul class="nav nav-footer" id="menu-main-menu-1">
                      <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-14 current_page_item menu-item-16"><a href="http://localhost/wpJoinRedHawk/">Home</a></li>
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Service Support Model</a></li>
                      <li><a href="#">Payouts And Fees</a></li>
                      <li><a href="#">Practice Models</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Join With Us</a></li>
                      <li><a href="#">Contact Us</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <h5 class="title"><span>Site map</span></h5>
                  <div class="menu-footer-sitemap-container">
                    <ul class="nav nav-footer" id="menu-footer-sitemap">
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87" id="menu-item-87"><a href="#">Payouts And Fees</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88" id="menu-item-88"><a href="#">Service Support Model</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89" id="menu-item-89"><a href="#">About Us</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3  col-sm-6">
                  <h5 class="title"><span>Don't hesitate to contact us!</span></h5>
                  <p> Please give us time to let <strong>JoindesignTrick</strong> know about any problems or suggestions what you have.</p>
                  <div class="clear">.</div>
                  <a class="btn btn-default btn-sm" href="#">Contact with us</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row copyright-img">
        <div class="col-lg-4 col-sm-4"> Your One-Stop-Shop Vancouver </div>
        <div class="col-lg-4 col-sm-4 text-center"> Made with <i class="fa fa-heart" style="color: red!important;"></i> in Vancouver</div>
        <div class="col-lg-4 col-sm-8 text-right" id="footertext"> Copyright © 2016 Discover Vancouver</div>
      </div>
    </div>
  </div>
  <!-- /Copyright -->
</footer>
<!-- /footer -->